In [64]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
import hvplot.pandas
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [65]:
season21_df = pd.read_csv("data/2020-2021.csv")
season22_df = pd.read_csv("data/2021-2022.csv")
Final_Data = pd.read_csv("data/final_dataset.csv")

In [66]:
season21_df.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,12/09/2020,12:30,Fulham,Arsenal,0,3,A,0,1,...,1.84,0.75,2.01,1.89,2.02,1.91,2.13,1.92,2.02,1.87
1,E0,12/09/2020,15:00,Crystal Palace,Southampton,1,0,H,1,0,...,1.70,0.25,1.78,2.13,1.79,2.17,1.85,2.18,1.79,2.12
2,E0,12/09/2020,17:30,Liverpool,Leeds,4,3,H,3,2,...,2.62,-1.50,1.85,2.05,1.85,2.08,1.90,2.16,1.84,2.04
3,E0,12/09/2020,20:00,West Ham,Newcastle,0,2,A,0,0,...,1.92,-0.50,2.03,1.87,2.04,1.88,2.09,1.91,2.02,1.86
4,E0,13/09/2020,14:00,West Brom,Leicester,0,3,A,0,0,...,1.73,0.25,1.92,1.98,1.93,1.99,1.95,2.01,1.91,1.97

In [67]:
season22_df.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,13/08/2021,20:00,Brentford,Arsenal,2,0,H,1,0,...,1.62,0.50,1.75,2.05,1.81,2.13,2.05,2.17,1.80,2.09
1,E0,14/08/2021,12:30,Man United,Leeds,5,1,H,1,0,...,2.25,-1.00,2.05,1.75,2.17,1.77,2.19,1.93,2.10,1.79
2,E0,14/08/2021,15:00,Burnley,Brighton,1,2,A,1,0,...,1.62,0.25,1.79,2.15,1.81,2.14,1.82,2.19,1.79,2.12
3,E0,14/08/2021,15:00,Chelsea,Crystal Palace,3,0,H,2,0,...,1.94,-1.50,2.05,1.75,2.12,1.81,2.16,1.93,2.06,1.82
4,E0,14/08/2021,15:00,Everton,Southampton,3,1,H,0,1,...,1.67,-0.50,2.05,1.88,2.05,1.88,2.08,1.90,2.03,1.86

In [79]:
Final_Data.head(15)

,Unnamed: 0,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTGS,ATGS,HTGC,...,HTLossStreak3,HTLossStreak5,ATWinStreak3,ATWinStreak5,ATLossStreak3,ATLossStreak5,HTGD,ATGD,DiffPts,DiffFormPts
0,0,19/08/00,Charlton,Man City,4,0,H,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
1,1,19/08/00,Chelsea,West Ham,4,2,H,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
2,2,19/08/00,Coventry,Middlesbrough,1,3,NH,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
3,3,19/08/00,Derby,Southampton,2,2,NH,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
4,4,19/08/00,Leeds,Everton,2,0,H,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
5,5,19/08/00,Leicester,Aston Villa,0,0,NH,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
6,6,19/08/00,Liverpool,Bradford,1,0,H,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
7,7,19/08/00,Sunderland,Arsenal,1,0,H,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
8,8,19/08/00,Tottenham,Ipswich,3,1,H,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
9,9,20/08/00,Man United,Newcastle,2,0,H,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
10,10,21/08/00,Arsenal,Liverpool,2,0,H,0,1,1,...,0,0,0,0,0,0,-0.5,0.5,-1.5,-1.5
11,11,22/08/00,Bradford,Chelsea,2,0,H,0,4,1,...,0,0,0,0,0,0,-0.5,1.0,-1.5,-1.5
12,12,22/08/00,Ipswich,Man United,1,1,NH,1,2,3,...,0,0,0,0,0,0,-1.0,1.0,-1.5,-1.5
13,13,22/08/00,Middlesbrough,Tottenham,1,1,NH,3,3,1,...,0,0,0,0,0,0,1.0,1.0,0.0,0.0
14,14,23/08/00,Everton,Charlton,3,0,H,0,4,2,...,0,0,0,0,0,0,-1.0,2.0,-1.5,-1.5

In [80]:
Final_Data.shape

(6840, 40)

In [70]:
season21_df["HomeTeam"].value_counts()

Fulham              19
Crystal Palace      19
Burnley             19
Wolves              19
Aston Villa         19
Leicester           19
Chelsea             19
Newcastle           19
Southampton         19
Arsenal             19
Man United          19
Leeds               19
Everton             19
Sheffield United    19
Brighton            19
Tottenham           19
West Brom           19
West Ham            19
Liverpool           19
Man City            19
Name: HomeTeam, dtype: int64

In [71]:
season22_df["HomeTeam"].value_counts()

Brentford         19
Man United        19
Arsenal           19
Wolves            19
Southampton       19
Brighton          19
Man City          19
Leeds             19
Crystal Palace    19
Aston Villa       19
Liverpool         19
Tottenham         19
Newcastle         19
Norwich           19
Watford           19
Leicester         19
Everton           19
Chelsea           19
Burnley           19
West Ham          19
Name: HomeTeam, dtype: int64

In [81]:
Final_Data["HomeTeam"].value_counts()

Everton             342
Liverpool           342
Tottenham           342
Man United          342
Arsenal             342
Chelsea             342
Man City            323
Aston Villa         304
Newcastle           304
West Ham            285
Sunderland          266
Fulham              247
West Brom           228
Southampton         209
Bolton              209
Blackburn           209
Stoke               190
Middlesbrough       171
Wigan               152
Birmingham          133
Portsmouth          133
Swansea             133
Charlton            133
Leicester           133
Crystal Palace      114
Norwich              95
Hull                 95
Watford              76
Wolves               76
Leeds                76
Burnley              76
Derby                57
Bournemouth          57
Reading              57
QPR                  57
Ipswich              38
Middlesboro          19
Blackpool            19
Sheffield United     19
Coventry             19
Cardiff              19
Bradford             19
Brighton             19
Huddersfield         19
Name: HomeTeam, dtype: int64

In [72]:
season_21_df = season21_df.dtypes.index.tolist()
season21_df[season_21_df].nunique()

Div           1
Date        135
Time         17
HomeTeam     20
AwayTeam     20
           ...
PCAHA        46
MaxCAHH      44
MaxCAHA      45
AvgCAHH      42
AvgCAHA      41
Length: 106, dtype: int64

In [73]:
season22_df = season22_df.dtypes.index.tolist()
season22_df[season_22_df].nunique()

Div           1
Date        123
Time         14
HomeTeam     20
AwayTeam     20
           ...
PCAHA        53
MaxCAHH      50
MaxCAHA      50
AvgCAHH      42
AvgCAHA      45
Length: 106, dtype: int64

In [83]:
Final_Data_df = Final_Data.dtypes.index.tolist()
Final_Data[Final_Data_df].nunique()

Unnamed: 0       6840
Date             1804
HomeTeam           44
AwayTeam           44
FTHG               10
FTAG                8
FTR                 2
HTGS               96
ATGS               92
HTGC               81
ATGC               80
HTP               833
ATP               835
HM1                 4
HM2                 4
HM3                 4
HM4                 4
HM5                 4
AM1                 4
AM2                 4
AM3                 4
AM4                 4
AM5                 4
MW                 38
HTFormPtsStr      351
ATFormPtsStr      360
HTFormPts          15
ATFormPts          15
HTWinStreak3        2
HTWinStreak5        2
HTLossStreak3       2
HTLossStreak5       2
ATWinStreak3        2
ATWinStreak5        2
ATLossStreak3       2
ATLossStreak5       2
HTGD             1170
ATGD             1172
DiffPts          1164
DiffFormPts       502
dtype: int64