In [1]:
import pandas as pd

In [2]:
merged = pd.read_csv("merged_file.csv", index_col = 0)

In [3]:
merged

,Date,Time,HomeTeam,AwayTeam,Home Goals,Away Goals,Winner,Home Team Shots,Away Team Shots,HT Shots on Target,AT Shots on Target,HT Fouls,AT Fouls,HT Corners,AT Corners,HT Yellow Cards,AT Yellow Cards,HT Red Cards,HT Red Cards.1
Unnamed: 0,,,,,,,,,,,,,,,,,,,
0,12/09/2020,12:30,Fulham,Arsenal,0,3,A,5,13,2,6,12,12,2,3,2,2,0,0
1,12/09/2020,15:00,Crystal Palace,Southampton,1,0,H,5,9,3,5,14,11,7,3,2,1,0,0
2,12/09/2020,17:30,Liverpool,Leeds,4,3,H,22,6,6,3,9,6,9,0,1,0,0,0
3,12/09/2020,20:00,West Ham,Newcastle,0,2,A,15,15,3,2,13,7,8,7,2,2,0,0
4,13/09/2020,14:00,West Brom,Leicester,0,3,A,7,13,1,7,12,9,2,5,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,22/05/2022,16:00,Crystal Palace,Man United,1,0,H,6,10,3,4,12,22,3,6,2,4,0,0
376,22/05/2022,16:00,Leicester,Southampton,4,1,H,12,7,6,2,10,5,3,3,0,1,0,0
377,22/05/2022,16:00,Liverpool,Wolves,3,1,H,29,7,8,5,6,3,5,3,1,0,0,0
378,22/05/2022,16:00,Man City,Aston Villa,3,2,H,24,4,5,2,5,11,13,1,0,1,0,0
379,22/05/2022,16:00,Norwich,Tottenham,0,5,A,9,19,0,13,13,7,3,2,3,1,0,0

In [4]:
merged.shape

(760, 19)

In [5]:
merged.nunique()

Date                  258
Time                   19
HomeTeam               23
AwayTeam               23
Home Goals              9
Away Goals              8
Winner                  3
Home Team Shots        31
Away Team Shots        30
HT Shots on Target     16
AT Shots on Target     15
HT Fouls               23
AT Fouls               24
HT Corners             17
AT Corners             14
HT Yellow Cards         7
AT Yellow Cards         6
HT Red Cards            3
HT Red Cards.1          3
dtype: int64

In [6]:
unique_team = merged['HomeTeam'].unique()

print(unique_team)

['Fulham' 'Crystal Palace' 'Liverpool' 'West Ham' 'West Brom' 'Tottenham'
 'Brighton' 'Sheffield United' 'Everton' 'Leeds' 'Man United' 'Arsenal'
 'Southampton' 'Newcastle' 'Chelsea' 'Leicester' 'Aston Villa' 'Wolves'
 'Burnley' 'Man City' 'Brentford' 'Watford' 'Norwich']

In [7]:
result = merged['Winner'].unique()
result

array(['A', 'H', 'D'], dtype=object)

In [8]:
merged.dtypes

Date                  object
Time                  object
HomeTeam              object
AwayTeam              object
Home Goals             int64
Away Goals             int64
Winner                object
Home Team Shots        int64
Away Team Shots        int64
HT Shots on Target     int64
AT Shots on Target     int64
HT Fouls               int64
AT Fouls               int64
HT Corners             int64
AT Corners             int64
HT Yellow Cards        int64
AT Yellow Cards        int64
HT Red Cards           int64
HT Red Cards.1         int64
dtype: object

In [9]:
merged["HomeTeam"].value_counts()

Leicester           38
Liverpool           38
Tottenham           38
Wolves              38
Burnley             38
West Ham            38
Arsenal             38
Man City            38
Man United          38
Everton             38
Brighton            38
Crystal Palace      38
Newcastle           38
Chelsea             38
Southampton         38
Leeds               38
Aston Villa         38
Fulham              19
Norwich             19
West Brom           19
Brentford           19
Watford             19
Sheffield United    19
Name: HomeTeam, dtype: int64

In [10]:
merged["Date"] = pd.to_datetime(merged["Date"])

In [11]:
merged.dtypes

Date                  datetime64[ns]
Time                          object
HomeTeam                      object
AwayTeam                      object
Home Goals                     int64
Away Goals                     int64
Winner                        object
Home Team Shots                int64
Away Team Shots                int64
HT Shots on Target             int64
AT Shots on Target             int64
HT Fouls                       int64
AT Fouls                       int64
HT Corners                     int64
AT Corners                     int64
HT Yellow Cards                int64
AT Yellow Cards                int64
HT Red Cards                   int64
HT Red Cards.1                 int64
dtype: object

In [12]:
merged["AwayTeam_code"] = merged["AwayTeam"].astype("category").cat.codes

In [13]:
merged

,Date,Time,HomeTeam,AwayTeam,Home Goals,Away Goals,Winner,Home Team Shots,Away Team Shots,HT Shots on Target,AT Shots on Target,HT Fouls,AT Fouls,HT Corners,AT Corners,HT Yellow Cards,AT Yellow Cards,HT Red Cards,HT Red Cards.1,AwayTeam_code
Unnamed: 0,,,,,,,,,,,,,,,,,,,,
0,2020-12-09,12:30,Fulham,Arsenal,0,3,A,5,13,2,6,12,12,2,3,2,2,0,0,0
1,2020-12-09,15:00,Crystal Palace,Southampton,1,0,H,5,9,3,5,14,11,7,3,2,1,0,0,17
2,2020-12-09,17:30,Liverpool,Leeds,4,3,H,22,6,6,3,9,6,9,0,1,0,0,0,9
3,2020-12-09,20:00,West Ham,Newcastle,0,2,A,15,15,3,2,13,7,8,7,2,2,0,0,14
4,2020-09-13,14:00,West Brom,Leicester,0,3,A,7,13,1,7,12,9,2,5,1,1,0,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2022-05-22,16:00,Crystal Palace,Man United,1,0,H,6,10,3,4,12,22,3,6,2,4,0,0,13
376,2022-05-22,16:00,Leicester,Southampton,4,1,H,12,7,6,2,10,5,3,3,0,1,0,0,17
377,2022-05-22,16:00,Liverpool,Wolves,3,1,H,29,7,8,5,6,3,5,3,1,0,0,0,22
378,2022-05-22,16:00,Man City,Aston Villa,3,2,H,24,4,5,2,5,11,13,1,0,1,0,0,1
379,2022-05-22,16:00,Norwich,Tottenham,0,5,A,9,19,0,13,13,7,3,2,3,1,0,0,18

In [14]:
# If home team win will be 1 and Lost and Draw will be 0
merged["target"] = (merged["Winner"] == "H").astype("int")

In [15]:
merged

,Date,Time,HomeTeam,AwayTeam,Home Goals,Away Goals,Winner,Home Team Shots,Away Team Shots,HT Shots on Target,...,HT Fouls,AT Fouls,HT Corners,AT Corners,HT Yellow Cards,AT Yellow Cards,HT Red Cards,HT Red Cards.1,AwayTeam_code,target
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
0,2020-12-09,12:30,Fulham,Arsenal,0,3,A,5,13,2,...,12,12,2,3,2,2,0,0,0,0
1,2020-12-09,15:00,Crystal Palace,Southampton,1,0,H,5,9,3,...,14,11,7,3,2,1,0,0,17,1
2,2020-12-09,17:30,Liverpool,Leeds,4,3,H,22,6,6,...,9,6,9,0,1,0,0,0,9,1
3,2020-12-09,20:00,West Ham,Newcastle,0,2,A,15,15,3,...,13,7,8,7,2,2,0,0,14,0
4,2020-09-13,14:00,West Brom,Leicester,0,3,A,7,13,1,...,12,9,2,5,1,1,0,0,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2022-05-22,16:00,Crystal Palace,Man United,1,0,H,6,10,3,...,12,22,3,6,2,4,0,0,13,1
376,2022-05-22,16:00,Leicester,Southampton,4,1,H,12,7,6,...,10,5,3,3,0,1,0,0,17,1
377,2022-05-22,16:00,Liverpool,Wolves,3,1,H,29,7,8,...,6,3,5,3,1,0,0,0,22,1
378,2022-05-22,16:00,Man City,Aston Villa,3,2,H,24,4,5,...,5,11,13,1,0,1,0,0,1,1
379,2022-05-22,16:00,Norwich,Tottenham,0,5,A,9,19,0,...,13,7,3,2,3,1,0,0,18,0

In [16]:
# RF is type of ML can pickup non-linearities in the data
from sklearn.ensemble import RandomForestClassifier

In [17]:
# random state it means that if we run the random forest multiple times we will get the same result as long as data same
rf = RandomForestClassifier(n_estimators=50, min_samples_split = 10, random_state = 1)

In [20]:
max_date = merged["Date"].max()
max_date

Timestamp('2022-12-05 00:00:00')

In [70]:
# Count how many test data available
start_date = '2022-08-01'
end_date = '2022-12-05'

# filter the DataFrame based on the date range
number_test = (merged['Date'] >= start_date) & (merged['Date'] <= end_date)
df_filtered = merged.loc[number_test]

In [72]:
df_filtered.shape

(43, 21)

In [21]:
train = merged[merged["Date"] < '2022-08-01']

In [22]:
test = merged[merged["Date"] > '2022-08-01']

In [23]:
predictors = ["Home Goals", "AwayTeam_code", "Home Team Shots", "HT Shots on Target"]

In [24]:
rf.fit(train[predictors], train["target"])

RandomForestClassifier(min_samples_split=10, n_estimators=50, random_state=1)

In [25]:
preds = rf.predict(test[predictors])

In [26]:
from sklearn.metrics import accuracy_score

In [27]:
acc = accuracy_score(test["target"], preds)
acc

0.9069767441860465

In [28]:
combined = pd.DataFrame(dict(actual=test['target'], prediction=preds))

In [29]:
pd.crosstab(index=combined["actual"], columns=combined["prediction"])

prediction   0   1
actual
0           22   2
1            2  17

In [31]:
from sklearn.metrics import precision_score

In [32]:
precision_score(test["target"], preds)

0.8947368421052632

In [35]:
grouped_matches = merged.groupby("HomeTeam")

In [37]:
group = grouped_matches.get_group("Man City")
group

,Date,Time,HomeTeam,AwayTeam,Home Goals,Away Goals,Winner,Home Team Shots,Away Team Shots,HT Shots on Target,...,HT Fouls,AT Fouls,HT Corners,AT Corners,HT Yellow Cards,AT Yellow Cards,HT Red Cards,HT Red Cards.1,AwayTeam_code,target
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
24,2020-09-27,16:30,Man City,Leicester,2,5,A,16,7,5,...,13,8,3,4,1,3,0,0,10,0
40,2020-10-17,17:30,Man City,Arsenal,1,0,H,13,11,5,...,15,10,6,6,4,1,0,0,0,1
76,2020-08-11,16:30,Man City,Liverpool,1,1,D,7,10,2,...,19,11,1,2,3,1,0,0,11,0
90,2020-11-28,15:00,Man City,Burnley,5,0,H,19,9,6,...,12,4,6,4,0,0,0,0,4,1
99,2020-05-12,15:00,Man City,Fulham,2,0,H,16,6,6,...,7,6,9,3,0,0,0,0,8,1
118,2020-12-15,20:00,Man City,West Brom,1,1,D,26,5,7,...,5,8,13,2,2,3,0,0,20,0
141,2020-12-26,20:00,Man City,Newcastle,2,0,H,11,7,6,...,5,12,7,3,2,2,0,0,14,1
167,2021-01-13,18:00,Man City,Brighton,1,0,H,16,5,6,...,4,12,8,4,0,2,0,0,3,1
177,2021-01-17,19:15,Man City,Crystal Palace,4,0,H,13,2,6,...,9,8,11,1,0,0,0,0,6,1
181,2021-01-20,18:00,Man City,Aston Villa,2,0,H,28,11,9,...,10,9,16,2,0,2,0,0,1,1
197,2021-01-30,15:00,Man City,Sheffield United,1,0,H,10,4,5,...,7,10,10,0,0,3,0,0,16,1
227,2021-02-13,17:30,Man City,Tottenham,3,0,H,15,7,6,...,12,13,4,2,1,3,0,0,18,1
248,2021-02-27,12:30,Man City,West Ham,2,1,H,10,9,3,...,8,11,4,2,1,1,0,0,21,1
258,2021-02-03,20:00,Man City,Wolves,4,1,H,22,6,10,...,9,5,10,2,0,1,0,0,22,1
271,2021-07-03,16:30,Man City,Man United,0,2,A,23,8,6,...,9,12,6,2,0,3,0,0,13,0
275,2021-10-03,18:00,Man City,Southampton,5,2,H,17,11,10,...,6,4,5,5,1,0,0,0,17,1
301,2021-10-04,12:30,Man City,Leeds,1,2,A,29,2,7,...,12,15,9,3,3,1,0,1,9,0
340,2021-08-05,17:30,Man City,Chelsea,1,2,A,16,12,4,...,12,10,6,2,2,0,0,0,5,0
376,2021-05-23,16:00,Man City,Everton,5,0,H,21,8,11,...,8,10,7,5,2,2,0,0,7,1
14,2021-08-21,15:00,Man City,Norwich,5,0,H,16,1,4,...,13,7,6,1,1,0,0,0,15,1
20,2021-08-28,12:30,Man City,Arsenal,5,0,H,25,1,10,...,5,7,14,0,1,2,0,1,0,1
44,2021-09-18,15:00,Man City,Southampton,0,0,D,18,10,1,...,5,12,8,5,0,2,0,0,17,0
73,2021-10-16,15:00,Man City,Burnley,2,0,H,15,7,6,...,11,5,6,2,1,0,0,0,4,1
93,2021-10-30,15:00,Man City,Crystal Palace,0,2,A,14,8,3,...,11,11,7,1,2,3,1,0,6,0
118,2021-11-21,14:00,Man City,Everton,3,0,H,17,4,7,...,5,7,7,1,1,1,0,0,7,1
127,2021-11-28,14:00,Man City,West Ham,2,1,H,19,5,9,...,7,6,8,4,2,0,0,0,21,1
150,2021-11-12,12:30,Man City,Wolves,1,0,H,24,2,10,...,12,5,14,1,3,2,0,1,22,1
159,2021-12-14,20:00,Man City,Leeds,7,0,H,31,6,15,...,5,9,6,2,1,1,0,0,9,1
169,2021-12-26,15:00,Man City,Leicester,6,3,H,17,14,9,...,11,9,14,4,1,2,0,0,10,1
194,2022-01-15,12:30,Man City,Chelsea,1,0,H,11,4,6,...,11,6,9,1,0,2,0,0,5,1
218,2022-09-02,19:45,Man City,Brentford,2,0,H,15,6,7,...,7,13,9,3,0,0,0,0,2,1
241,2022-02-19,17:30,Man City,Tottenham,2,3,A,21,6,4,...,5,7,10,0,0,3,0,0,18,0
265,2022-06-03,16:30,Man City,Man United,4,1,H,24,5,10,...,10,14,9,3,0,1,0,0,13,1
308,2022-10-04,16:30,Man City,Liverpool,2,2,D,11,6,5,...,9,11,4,1,1,4,0,0,11,0
319,2022-04-20,20:00,Man City,Brighton,3,0,H,17,2,5,...,12,7,7,4,0,3,0,0,3,1
323,2022-04-23,15:00,Man City,Watford,5,1,H,21,5,8,...,9,7,11,4,1,0,0,0,19,1
351,2022-08-05,16:30,Man City,Newcastle,5,0,H,21,7,9,...,6,11,8,2,1,3,0,0,14,1
378,2022-05-22,16:00,Man City,Aston Villa,3,2,H,24,4,5,...,5,11,13,1,0,1,0,0,1,1

In [43]:
# rollling average will take a group in it's all take  a set of columns taht we want to compute rolling avg
def rolling_averages(group, cols, new_cols):
    group = group.sort_values("Date")
    rolling_stats = group[cols].rolling(3, closed="left").mean()
    group[new_cols] = rolling_stats
    group = group.dropna(subset=new_cols)
    return group

In [44]:
cols = ["Home Goals", "Away Goals", "Home Team Shots", "Away Team Shots", "HT Shots on Target", "AT Shots on Target"]
new_cols = [f"{c}_rolling" for c in cols]

In [45]:
new_cols

['Home Goals_rolling',
 'Away Goals_rolling',
 'Home Team Shots_rolling',
 'Away Team Shots_rolling',
 'HT Shots on Target_rolling',
 'AT Shots on Target_rolling']

In [46]:
rolling_averages(group, cols, new_cols)

,Date,Time,HomeTeam,AwayTeam,Home Goals,Away Goals,Winner,Home Team Shots,Away Team Shots,HT Shots on Target,...,HT Red Cards,HT Red Cards.1,AwayTeam_code,target,Home Goals_rolling,Away Goals_rolling,Home Team Shots_rolling,Away Team Shots_rolling,HT Shots on Target_rolling,AT Shots on Target_rolling
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
40,2020-10-17,17:30,Man City,Arsenal,1,0,H,13,11,5,...,0,0,0,1,1.666667,2.000000,13.000000,7.666667,4.333333,3.666667
90,2020-11-28,15:00,Man City,Burnley,5,0,H,19,9,6,...,0,0,4,1,1.333333,2.000000,12.000000,9.333333,4.000000,4.333333
118,2020-12-15,20:00,Man City,West Brom,1,1,D,26,5,7,...,0,0,20,0,2.666667,1.666667,16.000000,9.000000,5.333333,3.666667
141,2020-12-26,20:00,Man City,Newcastle,2,0,H,11,7,6,...,0,0,14,1,2.333333,0.333333,19.333333,8.333333,6.000000,1.666667
167,2021-01-13,18:00,Man City,Brighton,1,0,H,16,5,6,...,0,0,3,1,2.666667,0.333333,18.666667,7.000000,6.333333,1.333333
177,2021-01-17,19:15,Man City,Crystal Palace,4,0,H,13,2,6,...,0,0,6,1,1.333333,0.333333,17.666667,5.666667,6.333333,1.333333
181,2021-01-20,18:00,Man City,Aston Villa,2,0,H,28,11,9,...,0,0,1,1,2.333333,0.000000,13.333333,4.666667,6.000000,1.000000
197,2021-01-30,15:00,Man City,Sheffield United,1,0,H,10,4,5,...,0,0,16,1,2.333333,0.000000,19.000000,6.000000,7.000000,1.666667
258,2021-02-03,20:00,Man City,Wolves,4,1,H,22,6,10,...,0,0,22,1,2.333333,0.000000,17.000000,5.666667,6.666667,1.666667
227,2021-02-13,17:30,Man City,Tottenham,3,0,H,15,7,6,...,0,0,18,1,2.333333,0.333333,20.000000,7.000000,8.000000,2.000000
248,2021-02-27,12:30,Man City,West Ham,2,1,H,10,9,3,...,0,0,21,1,2.666667,0.333333,15.666667,5.666667,7.000000,1.666667
376,2021-05-23,16:00,Man City,Everton,5,0,H,21,8,11,...,0,0,7,1,3.000000,0.666667,15.666667,7.333333,6.333333,2.333333
271,2021-07-03,16:30,Man City,Man United,0,2,A,23,8,6,...,0,0,13,0,3.333333,0.333333,15.333333,8.000000,6.666667,3.000000
340,2021-08-05,17:30,Man City,Chelsea,1,2,A,16,12,4,...,0,0,5,0,2.333333,1.000000,18.000000,8.333333,6.666667,4.000000
14,2021-08-21,15:00,Man City,Norwich,5,0,H,16,1,4,...,0,0,15,1,2.000000,1.333333,20.000000,9.333333,7.000000,4.666667
20,2021-08-28,12:30,Man City,Arsenal,5,0,H,25,1,10,...,0,1,0,1,2.000000,1.333333,18.333333,7.000000,4.666667,3.666667
44,2021-09-18,15:00,Man City,Southampton,0,0,D,18,10,1,...,0,0,17,0,3.666667,0.666667,19.000000,4.666667,6.000000,1.666667
275,2021-10-03,18:00,Man City,Southampton,5,2,H,17,11,10,...,0,0,17,1,3.333333,0.000000,19.666667,4.000000,5.000000,0.666667
301,2021-10-04,12:30,Man City,Leeds,1,2,A,29,2,7,...,0,1,9,0,3.333333,0.666667,20.000000,7.333333,7.000000,2.666667
73,2021-10-16,15:00,Man City,Burnley,2,0,H,15,7,6,...,0,0,4,1,2.000000,1.333333,21.333333,7.666667,6.000000,3.333333
93,2021-10-30,15:00,Man City,Crystal Palace,0,2,A,14,8,3,...,1,0,6,0,2.666667,1.333333,20.333333,6.666667,7.666667,3.333333
150,2021-11-12,12:30,Man City,Wolves,1,0,H,24,2,10,...,0,1,22,1,1.000000,1.333333,19.333333,5.666667,5.333333,2.333333
118,2021-11-21,14:00,Man City,Everton,3,0,H,17,4,7,...,0,0,7,1,1.000000,0.666667,17.666667,5.666667,6.333333,2.000000
127,2021-11-28,14:00,Man City,West Ham,2,1,H,19,5,9,...,0,0,21,1,1.333333,0.666667,18.333333,4.666667,6.666667,1.666667
159,2021-12-14,20:00,Man City,Leeds,7,0,H,31,6,15,...,0,0,9,1,2.000000,0.333333,20.000000,3.666667,8.666667,1.666667
169,2021-12-26,15:00,Man City,Leicester,6,3,H,17,14,9,...,0,0,10,1,4.000000,0.333333,22.333333,5.000000,10.333333,2.333333
194,2022-01-15,12:30,Man City,Chelsea,1,0,H,11,4,6,...,0,0,5,1,5.000000,1.333333,22.333333,8.333333,11.000000,4.666667
241,2022-02-19,17:30,Man City,Tottenham,2,3,A,21,6,4,...,0,0,18,0,4.666667,1.000000,19.666667,8.000000,10.000000,4.000000
319,2022-04-20,20:00,Man City,Brighton,3,0,H,17,2,5,...,0,0,3,1,3.000000,2.000000,16.333333,8.000000,6.333333,4.666667
323,2022-04-23,15:00,Man City,Watford,5,1,H,21,5,8,...,0,0,19,1,2.000000,1.000000,16.333333,4.000000,5.000000,2.333333
378,2022-05-22,16:00,Man City,Aston Villa,3,2,H,24,4,5,...,0,0,1,1,3.333333,1.333333,19.666667,4.333333,5.666667,2.666667
265,2022-06-03,16:30,Man City,Man United,4,1,H,24,5,10,...,0,0,13,1,3.666667,1.000000,20.666667,3.666667,6.000000,1.666667
351,2022-08-05,16:30,Man City,Newcastle,5,0,H,21,7,9,...,0,0,14,1,4.000000,1.333333,23.000000,4.666667,7.666667,2.000000
218,2022-09-02,19:45,Man City,Brentford,2,0,H,15,6,7,...,0,0,2,1,4.000000,1.000000,23.000000,5.333333,8.000000,2.333333
308,2022-10-04,16:30,Man City,Liverpool,2,2,D,11,6,5,...,0,0,11,0,3.666667,0.333333,20.000000,6.000000,8.666667,2.333333

In [47]:
merged_rolling = merged.groupby("HomeTeam").apply(lambda x: rolling_averages(x, cols, new_cols))
merged_rolling

                          Date   Time HomeTeam        AwayTeam  Home Goals  \
HomeTeam Unnamed: 0
Arsenal  55         2020-10-25  19:15  Arsenal       Leicester           0
         95         2020-11-29  19:15  Arsenal          Wolves           1
         115        2020-12-13  19:15  Arsenal         Burnley           0
         119        2020-12-16  18:00  Arsenal     Southampton           1
         140        2020-12-26  17:30  Arsenal         Chelsea           3
...                        ...    ...      ...             ...         ...
Wolves   262        2022-05-03  15:00   Wolves  Crystal Palace           0
         363        2022-05-15  14:00   Wolves         Norwich           1
         223        2022-10-02  19:45   Wolves         Arsenal           0
         269        2022-10-03  19:30   Wolves         Watford           4
         356        2022-11-05  20:15   Wolves        Man City           1

                     Away Goals Winner  Home Team Shots  Away Team Shots  \
HomeTeam Unnamed: 0
Arsenal  55                   1      A               12                6
         95                   2      A               13               11
         115                  1      A               18               10
         119                  1      D                9               13
         140                  1      H               15               19
...                         ...    ...              ...              ...
Wolves   262                  2      A               12               12
         363                  1      D               17               11
         223                  1      A               15               12
         269                  0      H               10                9
         356                  5      A                7               16

                     HT Shots on Target  ...  HT Red Cards  HT Red Cards.1  \
HomeTeam Unnamed: 0                      ...
Arsenal  55                           4  ...             0               0
         95                           2  ...             0               0
         115                          6  ...             1               0
         119                          4  ...             1               0
         140                          7  ...             0               0
...                                 ...  ...           ...             ...
Wolves   262                          5  ...             0               0
         363                          4  ...             0               0
         223                          4  ...             0               1
         269                          5  ...             0               0
         356                          3  ...             0               0

                     AwayTeam_code  target  Home Goals_rolling  \
HomeTeam Unnamed: 0
Arsenal  55                     10       0            1.333333
         95                     22       0            0.666667
         115                     4       0            1.000000
         119                    17       0            0.333333
         140                     5       1            0.666667
...                            ...     ...                 ...
Wolves   262                     6       0            1.333333
         363                    15       0            0.666667
         223                     0       0            0.333333
         269                    19       1            0.333333
         356                    12       0            1.666667

                     Away Goals_rolling  Home Team Shots_rolling  \
HomeTeam Unnamed: 0
Arsenal  55                    1.666667                 8.666667
         95                    1.666667                10.666667
         115                   1.333333                10.666667
         119                   1.333333                14.333333
         140                   1.333333                13.333333
...                                 ...                      ...
Wolves   262                   2.333333                12.000000
         363                   2.666667                12.333333
         223                   2.000000                13.333333
         269                   1.333333                14.666667
         356                   0.666667                14.000000

                     Away Team Shots_rolling  HT Shots on Target_rolling  \
HomeTeam Unnamed: 0
Arsenal  55                        11.666667                    3.333333
         95                        11.666667                    3.000000
         115                       10.333333                    3.000000
         119                        9.000000                    4.000000
         140                       11.333333                    4.000000
...                                      ...                         ...
Wolves   262                       16.333333                    4.000000
         363                       14.666667                    4.666667
         223                       13.333333                    3.333333
         269                       11.666667                    4.333333
         356                       10.666667                    4.333333

                     AT Shots on Target_rolling
HomeTeam Unnamed: 0
Arsenal  55                            3.666667
         95                            3.666667
         115                           3.333333
         119                           3.000000
         140                           3.333333
...                                         ...
Wolves   262                           7.333333
         363                           7.666667
         223                           6.333333
         269                           4.000000
         356                           1.333333

[691 rows x 27 columns]

In [48]:
merged_rolling = merged_rolling.droplevel("HomeTeam")
merged_rolling

,Date,Time,HomeTeam,AwayTeam,Home Goals,Away Goals,Winner,Home Team Shots,Away Team Shots,HT Shots on Target,...,HT Red Cards,HT Red Cards.1,AwayTeam_code,target,Home Goals_rolling,Away Goals_rolling,Home Team Shots_rolling,Away Team Shots_rolling,HT Shots on Target_rolling,AT Shots on Target_rolling
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
55,2020-10-25,19:15,Arsenal,Leicester,0,1,A,12,6,4,...,0,0,10,0,1.333333,1.666667,8.666667,11.666667,3.333333,3.666667
95,2020-11-29,19:15,Arsenal,Wolves,1,2,A,13,11,2,...,0,0,22,0,0.666667,1.666667,10.666667,11.666667,3.000000,3.666667
115,2020-12-13,19:15,Arsenal,Burnley,0,1,A,18,10,6,...,1,0,4,0,1.000000,1.333333,10.666667,10.333333,3.000000,3.333333
119,2020-12-16,18:00,Arsenal,Southampton,1,1,D,9,13,4,...,1,0,17,0,0.333333,1.333333,14.333333,9.000000,4.000000,3.000000
140,2020-12-26,17:30,Arsenal,Chelsea,3,1,H,15,19,7,...,0,0,5,1,0.666667,1.333333,13.333333,11.333333,4.000000,3.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,2022-05-03,15:00,Wolves,Crystal Palace,0,2,A,12,12,5,...,0,0,6,0,1.333333,2.333333,12.000000,16.333333,4.000000,7.333333
363,2022-05-15,14:00,Wolves,Norwich,1,1,D,17,11,4,...,0,0,15,0,0.666667,2.666667,12.333333,14.666667,4.666667,7.666667
223,2022-10-02,19:45,Wolves,Arsenal,0,1,A,15,12,4,...,0,1,0,0,0.333333,2.000000,13.333333,13.333333,3.333333,6.333333
269,2022-10-03,19:30,Wolves,Watford,4,0,H,10,9,5,...,0,0,19,1,0.333333,1.333333,14.666667,11.666667,4.333333,4.000000
356,2022-11-05,20:15,Wolves,Man City,1,5,A,7,16,3,...,0,0,12,0,1.666667,0.666667,14.000000,10.666667,4.333333,1.333333

### Retraining Our ML Model

In [52]:
def make_predictions(data, predictors):
    train = data[data["Date"] < "2022-08-01"]
    test = data[data["Date"] > "2022-08-01"]
    rf.fit(train[predictors], train["target"])
    preds = rf.predict(test[predictors])
    combined = pd.DataFrame(dict(actual=test["target"], predicted=preds, ), index = test.index)
    precision = precision_score(test["target"], preds)
    return combined, precision

In [53]:
combined, precision = make_predictions(merged_rolling, predictors + new_cols)

In [54]:
precision

0.8333333333333334

In [57]:
combined

            actual  predicted
Unnamed: 0
348              1          1
301              0          0
221              0          1
304              0          0
352              0          0
305              1          1
225              0          0
272              1          1
271              0          0
217              0          0
300              1          0
226              1          1
270              0          0
353              0          0
349              0          0
306              1          1
354              1          1
222              1          1
351              1          1
218              1          1
308              0          1
224              0          0
273              1          1
215              1          1
299              1          0
350              0          0
219              0          0
267              0          0
307              1          0
228              0          0
302              0          0
268              0          0
191              1          1
220              0          1
357              1          1
303              0          0
355              0          0
227              0          0
216              1          0
192              1          1
223              0          0
269              1          1
356              0          0

In [73]:
combined = combined.merge(merged_rolling[["Date", "HomeTeam", "AwayTeam", "Winner"]], left_index=True, right_index=True)

In [74]:
combined

            actual  predicted       Date        HomeTeam     AwayTeam Winner
Unnamed: 0
191              1          1 2021-01-27        Brighton       Fulham      D
191              1          1 2022-11-01     Southampton    Brentford      H
192              1          1 2021-01-27         Everton    Leicester      D
192              1          1 2022-12-01        West Ham      Norwich      H
215              1          1 2021-06-02     Aston Villa      Arsenal      H
...            ...        ...        ...             ...          ...    ...
355              0          0 2022-11-05         Watford      Everton      D
356              0          0 2021-05-16  Crystal Palace  Aston Villa      H
356              0          0 2022-11-05          Wolves     Man City      A
357              1          1 2021-05-16       Tottenham       Wolves      H
357              1          1 2022-12-05       Tottenham      Arsenal      H

[86 rows x 6 columns]

In [83]:
result = combined[combined['predicted'] == combined['actual']]
result

,actual,predicted,Date,HomeTeam,AwayTeam,Winner,target
Unnamed: 0,,,,,,,
191,1,1,2021-01-27,Brighton,Fulham,D,0
191,1,1,2022-11-01,Southampton,Brentford,H,1
192,1,1,2021-01-27,Everton,Leicester,D,0
192,1,1,2022-12-01,West Ham,Norwich,H,1
215,1,1,2021-06-02,Aston Villa,Arsenal,H,1
...,...,...,...,...,...,...,...
355,0,0,2022-11-05,Watford,Everton,D,0
356,0,0,2021-05-16,Crystal Palace,Aston Villa,H,1
356,0,0,2022-11-05,Wolves,Man City,A,0
357,1,1,2021-05-16,Tottenham,Wolves,H,1
357,1,1,2022-12-05,Tottenham,Arsenal,H,1

In [78]:
grouped_sum = merged.groupby(['HomeTeam'])['target'].sum()
grouped_sum

HomeTeam
Arsenal             21
Aston Villa         13
Brentford            7
Brighton             9
Burnley              9
Chelsea             18
Crystal Palace      13
Everton             15
Fulham               2
Leeds               12
Leicester           19
Liverpool           25
Man City            28
Man United          19
Newcastle           14
Norwich              3
Sheffield United     5
Southampton         14
Tottenham           23
Watford              2
West Brom            3
West Ham            19
Wolves              14
Name: target, dtype: int32

In [79]:
sorted_df = grouped_sum.sort_values(ascending=False)
sorted_df

HomeTeam
Man City            28
Liverpool           25
Tottenham           23
Arsenal             21
Man United          19
West Ham            19
Leicester           19
Chelsea             18
Everton             15
Southampton         14
Newcastle           14
Wolves              14
Aston Villa         13
Crystal Palace      13
Leeds               12
Brighton             9
Burnley              9
Brentford            7
Sheffield United     5
Norwich              3
West Brom            3
Fulham               2
Watford              2
Name: target, dtype: int32

In [69]:
result = sorted_df.index[0:3]

print(result)

Index(['Man City', 'Liverpool', 'Tottenham'], dtype='object', name='HomeTeam')

In [82]:
combined["target"] = (combined["Winner"] == "H").astype("int")
combined

,actual,predicted,Date,HomeTeam,AwayTeam,Winner,target
Unnamed: 0,,,,,,,
191,1,1,2021-01-27,Brighton,Fulham,D,0
191,1,1,2022-11-01,Southampton,Brentford,H,1
192,1,1,2021-01-27,Everton,Leicester,D,0
192,1,1,2022-12-01,West Ham,Norwich,H,1
215,1,1,2021-06-02,Aston Villa,Arsenal,H,1
...,...,...,...,...,...,...,...
355,0,0,2022-11-05,Watford,Everton,D,0
356,0,0,2021-05-16,Crystal Palace,Aston Villa,H,1
356,0,0,2022-11-05,Wolves,Man City,A,0
357,1,1,2021-05-16,Tottenham,Wolves,H,1
357,1,1,2022-12-05,Tottenham,Arsenal,H,1