In [103]:
import pandas as pd
import numpy as np
from sklearn import datasets
from sklearn.preprocessing import MinMaxScaler
from sklearn.feature_selection import RFE
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
import statsmodels.api as sm

In [104]:
season20_21_data = pd.read_csv("../Project_4/2020-21.csv")
season20_21_data.head(10)

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,12/09/2020,12:30,Fulham,Arsenal,0,3,A,0,1,...,1.84,0.75,2.01,1.89,2.02,1.91,2.13,1.92,2.02,1.87
1,E0,12/09/2020,15:00,Crystal Palace,Southampton,1,0,H,1,0,...,1.70,0.25,1.78,2.13,1.79,2.17,1.85,2.18,1.79,2.12
2,E0,12/09/2020,17:30,Liverpool,Leeds,4,3,H,3,2,...,2.62,-1.50,1.85,2.05,1.85,2.08,1.90,2.16,1.84,2.04
3,E0,12/09/2020,20:00,West Ham,Newcastle,0,2,A,0,0,...,1.92,-0.50,2.03,1.87,2.04,1.88,2.09,1.91,2.02,1.86
4,E0,13/09/2020,14:00,West Brom,Leicester,0,3,A,0,0,...,1.73,0.25,1.92,1.98,1.93,1.99,1.95,2.01,1.91,1.97
5,E0,13/09/2020,16:30,Tottenham,Everton,0,1,A,0,0,...,1.79,-0.50,2.09,1.81,2.09,1.85,2.16,1.86,2.08,1.81
6,E0,14/09/2020,20:15,Brighton,Chelsea,1,3,A,0,1,...,2.17,1.00,1.93,1.97,1.94,1.98,2.02,2.02,1.93,1.95
7,E0,14/09/2020,18:00,Sheffield United,Wolves,0,2,A,0,2,...,1.39,0.25,1.70,2.10,1.74,2.23,1.86,2.28,1.74,2.18
8,E0,19/09/2020,12:30,Everton,West Brom,5,2,H,2,1,...,1.85,-1.00,2.09,1.81,2.14,1.82,2.15,1.90,2.06,1.83
9,E0,19/09/2020,15:00,Leeds,Fulham,4,3,H,2,1,...,1.88,-0.75,1.97,1.93,1.99,1.94,2.01,2.03,1.95,1.93

In [105]:
season20_21_df = pd.DataFrame(season20_21_data)
list(season20_21_df)

['Div',
 'Date',
 'Time',
 'HomeTeam',
 'AwayTeam',
 'FTHG',
 'FTAG',
 'FTR',
 'HTHG',
 'HTAG',
 'HTR',
 'Referee',
 'HS',
 'AS',
 'HST',
 'AST',
 'HF',
 'AF',
 'HC',
 'AC',
 'HY',
 'AY',
 'HR',
 'AR',
 'B365H',
 'B365D',
 'B365A',
 'BWH',
 'BWD',
 'BWA',
 'IWH',
 'IWD',
 'IWA',
 'PSH',
 'PSD',
 'PSA',
 'WHH',
 'WHD',
 'WHA',
 'VCH',
 'VCD',
 'VCA',
 'MaxH',
 'MaxD',
 'MaxA',
 'AvgH',
 'AvgD',
 'AvgA',
 'B365>2.5',
 'B365<2.5',
 'P>2.5',
 'P<2.5',
 'Max>2.5',
 'Max<2.5',
 'Avg>2.5',
 'Avg<2.5',
 'AHh',
 'B365AHH',
 'B365AHA',
 'PAHH',
 'PAHA',
 'MaxAHH',
 'MaxAHA',
 'AvgAHH',
 'AvgAHA',
 'B365CH',
 'B365CD',
 'B365CA',
 'BWCH',
 'BWCD',
 'BWCA',
 'IWCH',
 'IWCD',
 'IWCA',
 'PSCH',
 'PSCD',
 'PSCA',
 'WHCH',
 'WHCD',
 'WHCA',
 'VCCH',
 'VCCD',
 'VCCA',
 'MaxCH',
 'MaxCD',
 'MaxCA',
 'AvgCH',
 'AvgCD',
 'AvgCA',
 'B365C>2.5',
 'B365C<2.5',
 'PC>2.5',
 'PC<2.5',
 'MaxC>2.5',
 'MaxC<2.5',
 'AvgC>2.5',
 'AvgC<2.5',
 'AHCh',
 'B365CAHH',
 'B365CAHA',
 'PCAHH',
 'PCAHA',
 'MaxCAHH',
 'MaxCAHA',
 'AvgCAHH',
 'AvgCAHA']

In [106]:
season20_21_cleaned = season20_21_df[['Date','Time','HomeTeam','AwayTeam','FTHG','FTAG','FTR','HS',
                                       'AS','HST','AST','HF','AF','HC','AC','HY','AY','HR','AR',]]
season20_21_cleaned

,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,12/09/2020,12:30,Fulham,Arsenal,0,3,A,5,13,2,6,12,12,2,3,2,2,0,0
1,12/09/2020,15:00,Crystal Palace,Southampton,1,0,H,5,9,3,5,14,11,7,3,2,1,0,0
2,12/09/2020,17:30,Liverpool,Leeds,4,3,H,22,6,6,3,9,6,9,0,1,0,0,0
3,12/09/2020,20:00,West Ham,Newcastle,0,2,A,15,15,3,2,13,7,8,7,2,2,0,0
4,13/09/2020,14:00,West Brom,Leicester,0,3,A,7,13,1,7,12,9,2,5,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,23/05/2021,16:00,Liverpool,Crystal Palace,2,0,H,19,5,5,4,10,8,14,1,2,2,0,0
376,23/05/2021,16:00,Man City,Everton,5,0,H,21,8,11,3,8,10,7,5,2,2,0,0
377,23/05/2021,16:00,Sheffield United,Burnley,1,0,H,12,10,3,3,11,1,8,9,3,1,0,0
378,23/05/2021,16:00,West Ham,Southampton,3,0,H,14,17,7,5,5,9,2,3,0,3,0,0
379,23/05/2021,16:00,Wolves,Man United,1,2,A,14,9,4,4,14,3,6,2,4,1,0,0

In [107]:
season20_21_cleaned = season20_21_cleaned.rename(columns = {'FTHG':'HG',
                                                            'FTAG':'AG',
                                                            'FTR':'Winner',
                                                            'HS':'Home Team Shots',
                                                            'AS':'Away Team Shots',
                                                            'HST':'HT Shots on Target',
                                                            'AST':'AT Shots on Target',
                                                            'HF':'HT Fouls',
                                                            'AF':'AT Fouls',
                                                            'HC':'HT Corners',
                                                            'AC':'AT Corners',
                                                            'HY':'HT Yellow Cards',
                                                            'AY':'AT Yellow Cards',
                                                            'HR':'HT Red Cards',
                                                            'AR':'HT Red Cards'})
season20_21_cleaned

,Date,Time,HomeTeam,AwayTeam,HG,AG,Winner,Home Team Shots,Away Team Shots,HT Shots on Target,AT Shots on Target,HT Fouls,AT Fouls,HT Corners,AT Corners,HT Yellow Cards,AT Yellow Cards,HT Red Cards,HT Red Cards
0,12/09/2020,12:30,Fulham,Arsenal,0,3,A,5,13,2,6,12,12,2,3,2,2,0,0
1,12/09/2020,15:00,Crystal Palace,Southampton,1,0,H,5,9,3,5,14,11,7,3,2,1,0,0
2,12/09/2020,17:30,Liverpool,Leeds,4,3,H,22,6,6,3,9,6,9,0,1,0,0,0
3,12/09/2020,20:00,West Ham,Newcastle,0,2,A,15,15,3,2,13,7,8,7,2,2,0,0
4,13/09/2020,14:00,West Brom,Leicester,0,3,A,7,13,1,7,12,9,2,5,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,23/05/2021,16:00,Liverpool,Crystal Palace,2,0,H,19,5,5,4,10,8,14,1,2,2,0,0
376,23/05/2021,16:00,Man City,Everton,5,0,H,21,8,11,3,8,10,7,5,2,2,0,0
377,23/05/2021,16:00,Sheffield United,Burnley,1,0,H,12,10,3,3,11,1,8,9,3,1,0,0
378,23/05/2021,16:00,West Ham,Southampton,3,0,H,14,17,7,5,5,9,2,3,0,3,0,0
379,23/05/2021,16:00,Wolves,Man United,1,2,A,14,9,4,4,14,3,6,2,4,1,0,0

In [108]:
season20_21_sorted = season20_21_cleaned.sort_values('HomeTeam', ascending=True)
season20_21_sorted

,Date,Time,HomeTeam,AwayTeam,HG,AG,Winner,Home Team Shots,Away Team Shots,HT Shots on Target,AT Shots on Target,HT Fouls,AT Fouls,HT Corners,AT Corners,HT Yellow Cards,AT Yellow Cards,HT Red Cards,HT Red Cards
313,18/04/2021,13:30,Arsenal,Fulham,1,1,D,18,3,5,1,9,11,11,1,0,3,0,0
244,21/02/2021,16:30,Arsenal,Man City,0,1,A,7,15,1,3,11,9,1,3,2,2,0,0
293,03/04/2021,20:00,Arsenal,Liverpool,0,3,A,3,16,2,7,10,10,1,2,1,1,0,0
199,30/01/2021,17:30,Arsenal,Man United,0,0,D,17,14,3,3,9,16,4,7,1,3,0,0
55,25/10/2020,19:15,Arsenal,Leicester,0,1,A,12,6,4,2,13,9,9,3,3,5,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54,25/10/2020,16:30,Wolves,Newcastle,1,1,D,16,5,3,2,10,10,2,3,0,1,0,0
299,05/04/2021,20:15,Wolves,West Ham,2,3,A,20,9,5,6,9,9,4,2,1,4,0,0
312,17/04/2021,20:15,Wolves,Sheffield United,1,0,H,10,8,5,2,8,15,3,3,1,2,0,0
206,02/02/2021,18:00,Wolves,Arsenal,2,1,H,11,9,7,3,11,8,9,6,3,2,0,2
379,23/05/2021,16:00,Wolves,Man United,1,2,A,14,9,4,4,14,3,6,2,4,1,0,0

In [109]:
def Result(HG, AG):
    if HG > AG:
        return -1
    elif HG == AG:
        return 0
    elif HG < AG:
        return 1
    
season20_21_sorted['Result'] = season20_21_cleaned.apply(lambda row: Result(row.HG, row.AG), axis = 1)
season20_21_sorted

,Date,Time,HomeTeam,AwayTeam,HG,AG,Winner,Home Team Shots,Away Team Shots,HT Shots on Target,AT Shots on Target,HT Fouls,AT Fouls,HT Corners,AT Corners,HT Yellow Cards,AT Yellow Cards,HT Red Cards,HT Red Cards,Result
313,18/04/2021,13:30,Arsenal,Fulham,1,1,D,18,3,5,1,9,11,11,1,0,3,0,0,0
244,21/02/2021,16:30,Arsenal,Man City,0,1,A,7,15,1,3,11,9,1,3,2,2,0,0,1
293,03/04/2021,20:00,Arsenal,Liverpool,0,3,A,3,16,2,7,10,10,1,2,1,1,0,0,1
199,30/01/2021,17:30,Arsenal,Man United,0,0,D,17,14,3,3,9,16,4,7,1,3,0,0,0
55,25/10/2020,19:15,Arsenal,Leicester,0,1,A,12,6,4,2,13,9,9,3,3,5,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54,25/10/2020,16:30,Wolves,Newcastle,1,1,D,16,5,3,2,10,10,2,3,0,1,0,0,0
299,05/04/2021,20:15,Wolves,West Ham,2,3,A,20,9,5,6,9,9,4,2,1,4,0,0,1
312,17/04/2021,20:15,Wolves,Sheffield United,1,0,H,10,8,5,2,8,15,3,3,1,2,0,0,-1
206,02/02/2021,18:00,Wolves,Arsenal,2,1,H,11,9,7,3,11,8,9,6,3,2,0,2,-1
379,23/05/2021,16:00,Wolves,Man United,1,2,A,14,9,4,4,14,3,6,2,4,1,0,0,1

In [110]:
home_team_stats = season20_21_sorted.groupby('HomeTeam').sum()
home_team_stats

,HG,AG,Home Team Shots,Away Team Shots,HT Shots on Target,AT Shots on Target,HT Fouls,AT Fouls,HT Corners,AT Corners,HT Yellow Cards,AT Yellow Cards,HT Red Cards,HT Red Cards,Result
HomeTeam,,,,,,,,,,,,,,,
Arsenal,24,21,240,198,77,54,190,214,116,82,19,35,2,1,-1
Aston Villa,29,27,269,250,95,94,232,271,120,93,29,30,3,4,1
Brighton,22,22,295,151,80,52,228,174,124,58,32,26,0,2,2
Burnley,14,27,197,252,63,86,186,201,92,96,24,12,0,1,5
Chelsea,31,18,283,168,112,53,221,177,116,78,21,23,2,1,-5
Crystal Palace,20,32,162,260,60,84,206,212,74,98,27,20,0,1,2
Everton,24,28,218,249,76,82,194,203,98,113,25,34,1,1,3
Fulham,9,28,234,200,63,85,237,198,89,87,36,21,2,1,11
Leeds,28,21,265,235,107,87,227,215,118,94,33,28,0,1,-2
Leicester,34,30,244,186,94,76,220,219,112,85,24,39,0,0,0
Liverpool,29,20,317,158,109,73,204,162,140,47,21,27,0,0,-4
Man City,43,17,328,140,120,53,182,178,141,54,22,28,0,1,-9
Man United,38,28,275,179,107,68,219,183,113,77,36,23,1,2,-3
Newcastle,26,33,232,251,79,87,199,229,81,95,32,35,2,3,2
Sheffield United,12,27,185,255,59,97,226,137,91,107,32,23,1,1,8
Southampton,28,25,228,188,94,77,221,223,94,101,23,27,1,1,0
Tottenham,35,20,234,239,103,65,239,240,86,93,24,37,1,0,-4
West Brom,15,39,174,312,59,129,205,205,100,126,26,20,2,0,7
West Ham,32,22,220,254,81,78,197,176,87,98,24,27,1,1,-5
Wolves,21,25,270,193,89,72,232,192,120,78,31,35,0,5,1

In [111]:
away_team_stats = season20_21_sorted.groupby('AwayTeam').sum()
away_team_stats

,HG,AG,Home Team Shots,Away Team Shots,HT Shots on Target,AT Shots on Target,HT Fouls,AT Fouls,HT Corners,AT Corners,HT Yellow Cards,AT Yellow Cards,HT Red Cards,HT Red Cards,Result
AwayTeam,,,,,,,,,,,,,,,
Arsenal,18,31,218,219,78,75,207,155,84,92,37,28,1,3,4
Aston Villa,19,26,288,242,95,92,296,207,101,95,37,34,2,0,2
Brighton,24,18,207,192,75,63,202,199,109,95,26,13,0,6,-4
Burnley,28,19,321,187,101,67,202,198,143,80,20,24,1,0,-4
Chelsea,18,27,168,275,56,97,200,212,82,111,30,27,2,1,5
Crystal Palace,34,21,276,187,93,71,226,203,132,77,22,27,3,2,-4
Everton,20,23,255,182,81,72,206,192,114,69,32,33,0,1,7
Fulham,25,18,229,208,88,73,189,247,105,75,18,30,0,1,-4
Leeds,33,34,323,257,114,92,217,200,118,113,19,28,1,1,1
Leicester,20,34,183,240,63,91,221,196,96,102,22,36,1,0,8
Liverpool,22,39,175,291,71,105,193,192,75,120,29,19,2,0,7
Man City,15,40,145,276,47,99,211,179,58,106,31,24,1,2,12
Man United,16,35,239,246,72,105,228,233,86,84,39,28,1,0,12
Newcastle,29,20,321,165,106,63,203,189,134,80,22,29,0,1,-3
Sheffield United,36,8,287,140,115,40,167,233,136,80,14,41,0,2,-14
Southampton,43,19,240,195,103,72,215,205,96,84,27,29,2,2,-7
Tottenham,25,33,249,210,93,73,254,200,108,82,40,29,1,1,2
West Brom,37,20,287,166,117,53,225,199,141,45,28,25,1,2,-10
West Ham,25,30,210,248,74,84,191,177,86,81,23,24,0,2,3
Wolves,27,15,249,192,85,65,212,193,108,89,25,22,0,0,-4

In [112]:
home_team_stats['HTAverageGoals'] = home_team_stats['HG'] / 19 
home_team_stats['HTAverageConceded'] = home_team_stats['AG'] / 19 
away_team_stats['ATAverageGoals'] = away_team_stats['AG'] / 19
away_team_stats['ATAverageConceded'] = away_team_stats['HG'] / 19

season20_21_backup = season20_21_sorted
season20_21_sorted

EPL_total_data = pd.DataFrame()
EPL_total_data['Team'] = home_team_stats.index

EPL_total_data = EPL_total_data.merge(home_team_stats['HTAverageGoals'], left_on='Team', right_index=True)
EPL_total_data = EPL_total_data.merge(home_team_stats['HTAverageConceded'], left_on='Team', right_index=True)
EPL_total_data = EPL_total_data.merge(away_team_stats['ATAverageGoals'], left_on='Team', right_index=True)
EPL_total_data = EPL_total_data.merge(away_team_stats['ATAverageConceded'], left_on='Team', right_index=True)

EPL_total_data.set_index("Team", inplace = True)
season_20_21_table= pd.DataFrame(index = EPL_total_data.index)
scaler = MinMaxScaler()
EPL_total_data = pd.DataFrame(scaler.fit_transform(EPL_total_data), columns = EPL_total_data.columns, index = EPL_total_data.index)
EPL_total_data

,HTAverageGoals,HTAverageConceded,ATAverageGoals,ATAverageConceded
Team,,,,
Arsenal,0.441176,0.181818,0.71875,0.107143
Aston Villa,0.588235,0.454545,0.56250,0.142857
Brighton,0.382353,0.227273,0.31250,0.321429
Burnley,0.147059,0.454545,0.34375,0.464286
Chelsea,0.647059,0.045455,0.59375,0.107143
Crystal Palace,0.323529,0.681818,0.40625,0.678571
Everton,0.441176,0.500000,0.46875,0.178571
Fulham,0.000000,0.500000,0.31250,0.357143
Leeds,0.558824,0.181818,0.81250,0.642857
Leicester,0.735294,0.590909,0.81250,0.178571
Liverpool,0.588235,0.136364,0.96875,0.250000
Man City,1.000000,0.000000,1.00000,0.000000
Man United,0.852941,0.500000,0.84375,0.035714
Newcastle,0.500000,0.727273,0.37500,0.500000
Sheffield United,0.088235,0.454545,0.00000,0.750000
Southampton,0.558824,0.363636,0.34375,1.000000
Tottenham,0.764706,0.136364,0.78125,0.357143
West Brom,0.176471,1.000000,0.37500,0.785714
West Ham,0.676471,0.227273,0.68750,0.357143
Wolves,0.352941,0.363636,0.21875,0.428571

In [113]:
Home_Away = ['HomeTeam', 'AwayTeam']
Att_Defn_data = season20_21_sorted[Home_Away]

Att_Defn_data = Att_Defn_data.merge(EPL_total_data['HTAverageGoals'], left_on='HomeTeam', right_index=True, how='left')
Att_Defn_data = Att_Defn_data.merge(EPL_total_data['HTAverageConceded'], left_on='HomeTeam', right_index=True, how='left') 
Att_Defn_data = Att_Defn_data.merge(EPL_total_data['ATAverageGoals'], left_on='AwayTeam', right_index=True, how='left') 
Att_Defn_data = Att_Defn_data.merge(EPL_total_data['ATAverageConceded'], left_on='AwayTeam', right_index=True, how='left') 

Att_Defn_data['HT_Attacking_Score'] = (Att_Defn_data['HTAverageGoals'] * Att_Defn_data['ATAverageConceded']); 
Att_Defn_data['AT_Attaching_Score'] = (Att_Defn_data['HTAverageConceded'] * Att_Defn_data['ATAverageGoals']);

Att_Defn_data = Att_Defn_data.merge(season20_21_sorted['Result'], left_index = True, right_index = True)

final_rating = Att_Defn_data
Att_Defn_data

,HomeTeam,AwayTeam,HTAverageGoals,HTAverageConceded,ATAverageGoals,ATAverageConceded,HT_Attacking_Score,AT_Attaching_Score,Result
313,Arsenal,Fulham,0.441176,0.181818,0.31250,0.357143,0.157563,0.056818,0
244,Arsenal,Man City,0.441176,0.181818,1.00000,0.000000,0.000000,0.181818,1
293,Arsenal,Liverpool,0.441176,0.181818,0.96875,0.250000,0.110294,0.176136,1
199,Arsenal,Man United,0.441176,0.181818,0.84375,0.035714,0.015756,0.153409,0
55,Arsenal,Leicester,0.441176,0.181818,0.81250,0.178571,0.078782,0.147727,1
...,...,...,...,...,...,...,...,...,...
54,Wolves,Newcastle,0.352941,0.363636,0.37500,0.500000,0.176471,0.136364,0
299,Wolves,West Ham,0.352941,0.363636,0.68750,0.357143,0.126050,0.250000,1
312,Wolves,Sheffield United,0.352941,0.363636,0.00000,0.750000,0.264706,0.000000,-1
206,Wolves,Arsenal,0.352941,0.363636,0.71875,0.107143,0.037815,0.261364,-1
379,Wolves,Man United,0.352941,0.363636,0.84375,0.035714,0.012605,0.306818,1

In [114]:
Team_names = ['HomeTeam','AwayTeam']
all_columns = Att_Defn_data.columns.values.tolist()
all_columns = [col for col in all_columns if col not in Team_names]

cleaned_data = Att_Defn_data[all_columns]
X = [col for col in all_columns if col != 'Result']
Y = [col for col in all_columns if col == 'Result']

cleaned_data

,HTAverageGoals,HTAverageConceded,ATAverageGoals,ATAverageConceded,HT_Attacking_Score,AT_Attaching_Score,Result
313,0.441176,0.181818,0.31250,0.357143,0.157563,0.056818,0
244,0.441176,0.181818,1.00000,0.000000,0.000000,0.181818,1
293,0.441176,0.181818,0.96875,0.250000,0.110294,0.176136,1
199,0.441176,0.181818,0.84375,0.035714,0.015756,0.153409,0
55,0.441176,0.181818,0.81250,0.178571,0.078782,0.147727,1
...,...,...,...,...,...,...,...
54,0.352941,0.363636,0.37500,0.500000,0.176471,0.136364,0
299,0.352941,0.363636,0.68750,0.357143,0.126050,0.250000,1
312,0.352941,0.363636,0.00000,0.750000,0.264706,0.000000,-1
206,0.352941,0.363636,0.71875,0.107143,0.037815,0.261364,-1
379,0.352941,0.363636,0.84375,0.035714,0.012605,0.306818,1

In [115]:
X = cleaned_data.copy()
X.drop('Result', axis=1, inplace= True )
X.head()

,HTAverageGoals,HTAverageConceded,ATAverageGoals,ATAverageConceded,HT_Attacking_Score,AT_Attaching_Score
313,0.441176,0.181818,0.31250,0.357143,0.157563,0.056818
244,0.441176,0.181818,1.00000,0.000000,0.000000,0.181818
293,0.441176,0.181818,0.96875,0.250000,0.110294,0.176136
199,0.441176,0.181818,0.84375,0.035714,0.015756,0.153409
55,0.441176,0.181818,0.81250,0.178571,0.078782,0.147727

In [116]:
y = cleaned_data['Result'].ravel()

In [117]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [118]:
rf_model = RandomForestClassifier(n_estimators=500, random_state=78)

In [119]:
rf_model = rf_model.fit(X_train, y_train)

In [120]:
predictions = rf_model.predict(X_test)
predictions

array([ 1,  1,  0,  1,  1,  1,  0,  1,  1,  1,  1, -1,  0,  1, -1, -1,  0,
       -1, -1,  1,  1,  1, -1, -1,  0, -1, -1,  1,  1, -1, -1,  1,  1, -1,
       -1, -1,  1, -1, -1,  0, -1, -1,  0,  0,  1,  1, -1, -1, -1,  1, -1,
       -1,  0,  1, -1, -1, -1,  1,  1,  1,  1, -1,  1,  1, -1,  0,  1,  0,
       -1, -1, -1, -1,  1, -1,  1,  1,  0, -1,  0,  0, -1,  1, -1, -1,  1,
        1,  0, -1,  1, -1, -1,  1,  0, -1, -1])

In [121]:
acc_score = accuracy_score(y_test, predictions)
print("Accuracy score: " + str(acc_score))
scores = cross_val_score(rf_model, X_train, y_train, cv=10)
print("Cross val scores")
print(scores)

Accuracy score: 0.47368421052631576
Cross val scores
[0.48275862 0.31034483 0.48275862 0.48275862 0.51724138 0.57142857
 0.5        0.53571429 0.53571429 0.53571429]

In [122]:
score_train = rf_model.score(X_train, y_train)
score_test = rf_model.score(X_test, y_test)

print("Training set accuracy: ", '%.3f'%(score_train))
print("Test set accuracy: ", '%.3f'%(score_test))

Training set accuracy:  1.000
Test set accuracy:  0.474

In [123]:
predicted_score = rf_model.predict(X)
predicted_df = pd.DataFrame(predicted, columns=['Predicted'])
predicted_df.head()

   Predicted
0          0
1          1
2          0
3          0
4          1

In [124]:
cleaned_data = cleaned_data.merge(predicted_df, left_index=True, right_index=True)
final_rating = final_rating.merge(predicted_df, left_index=True, right_index=True)
final_rating

,HomeTeam,AwayTeam,HTAverageGoals,HTAverageConceded,ATAverageGoals,ATAverageConceded,HT_Attacking_Score,AT_Attaching_Score,Result,Predicted
313,Arsenal,Fulham,0.441176,0.181818,0.31250,0.357143,0.157563,0.056818,0,0
244,Arsenal,Man City,0.441176,0.181818,1.00000,0.000000,0.000000,0.181818,1,-1
293,Arsenal,Liverpool,0.441176,0.181818,0.96875,0.250000,0.110294,0.176136,1,1
199,Arsenal,Man United,0.441176,0.181818,0.84375,0.035714,0.015756,0.153409,0,-1
55,Arsenal,Leicester,0.441176,0.181818,0.81250,0.178571,0.078782,0.147727,1,-1
...,...,...,...,...,...,...,...,...,...,...
54,Wolves,Newcastle,0.352941,0.363636,0.37500,0.500000,0.176471,0.136364,0,0
299,Wolves,West Ham,0.352941,0.363636,0.68750,0.357143,0.126050,0.250000,1,-1
312,Wolves,Sheffield United,0.352941,0.363636,0.00000,0.750000,0.264706,0.000000,-1,-1
206,Wolves,Arsenal,0.352941,0.363636,0.71875,0.107143,0.037815,0.261364,-1,-1
379,Wolves,Man United,0.352941,0.363636,0.84375,0.035714,0.012605,0.306818,1,1

In [128]:
season_20_21_table['Actual Points 2020-2021'] = 0 
season_20_21_table['Predicted Points 2021-2022'] = 0 

def create_scores(i, hometeam, awayteam, j):
    if i == -1:
        season_20_21_table.loc[hometeam, j] += 3
    elif i == 0:
        season_20_21_table.loc[hometeam, j] += 1
        season_20_21_table.loc[awayteam, j] += 1
    elif i == 1:
        season_20_21_table.loc[awayteam, j] += 3

final_rating.apply(lambda i: create_scores(i.Result, i.HomeTeam, i.AwayTeam, 'Actual Points 2020-2021'), axis=1)
final_rating.apply(lambda i: create_scores(i.Predicted, i.HomeTeam, i.AwayTeam, 'Predicted Points 2021-2022'), axis=1)

313    None
244    None
293    None
199    None
55     None
       ...
54     None
299    None
312    None
206    None
379    None
Length: 380, dtype: object

In [129]:
actual_index = season_20_21_table.sort_values(by='Actual Points 2020-2021', ascending=0).index
predicted_index = season_20_21_table.sort_values(by='Predicted Points 2021-2022', ascending=0).index

season_20_21_table.sort_values(by='Actual Points 2020-2021', ascending=0)

                  Actual Points 2020-2021  Predicted Points 2021-2022
Team
Man City                               86                          41
Man United                             74                          51
Liverpool                              69                          57
Chelsea                                67                          52
Leicester                              66                          49
West Ham                               65                          36
Tottenham                              62                          56
Arsenal                                61                          49
Leeds                                  59                          59
Everton                                59                          57
Aston Villa                            55                          51
Newcastle                              45                          48
Wolves                                 45                          59
Crystal Palace                         44                          52
Southampton                            43                          54
Brighton                               41                          56
Burnley                                39                          56
Fulham                                 28                          54
West Brom                              26                          51
Sheffield United                       23                          71